body {
    background-color: rgb(60, 112, 203);
    font: normal 20pt Arial;
}
header {
    color: black;
    text-align: center;
}
section {
    background-color: rgb(216, 235, 233);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.514);
    text-align: center;
}
img {
    border-radius: 100%;
    padding: 15px;
}
footer {
    color: black;
    text-align: center;
    font-style: italic;
}